<%- include("../partials/head") %>
<div class="container">
<div class="card">
<div class="card-body">
 <h4>Kayıt ol</h4>
  <form method="POST" action="/register">
    <label>Kullanıcı adı</label>
    <input type="text" id="username" name="username" class="form-control">
    <label>Email</label>
    <input type="text" id="email" name="email" class="form-control"> 
    <label>Şifre</label>
    <input type="text" id="password" name="password" class="form-control"><br>
    <input type="submit" class="btn btn-dark" value="kayıt ol">
  </form>
</div>  
</div>  
</div>
